node-red.json
[
    {
        "id": "2b1709f42580c938",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "broker-hive",
        "type": "mqtt-broker",
        "name": "HiveMQ Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d8a60e96a41751a2",
        "type": "ui_tab",
        "name": "dados",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "860328370df5740b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f884df37c17a9c3d",
        "type": "ui_group",
        "name": "Safewater",
        "tab": "d8a60e96a41751a2",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "mqtt-in",
        "type": "mqtt in",
        "z": "2b1709f42580c938",
        "name": "Recebe SafeWater",
        "topic": "safewater/arduino/data",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker-hive",
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "json-parser"
            ]
        ]
    },
    {
        "id": "json-parser",
        "type": "json",
        "z": "2b1709f42580c938",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "debug1",
                "d60661a3b50440ba",
                "a99c011f28ae3a41",
                "b50cba0df2bf5c2b"
            ]
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "2b1709f42580c938",
        "name": "Ver JSON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "5813b0d1331d5f13",
        "type": "inject",
        "z": "2b1709f42580c938",
        "name": "",
        "props": [
            {
                "p": "JSON",
                "v": "{   \"agua_cm\": 88.7,   \"chuva\": true,   \"umidade\": 72.4,   \"temperatura\": 27.1 }",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "a380ce8950507a68"
            ]
        ]
    },
    {
        "id": "a380ce8950507a68",
        "type": "mqtt out",
        "z": "2b1709f42580c938",
        "name": "",
        "topic": "safewater/arduino/data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker-hive",
        "x": 380,
        "y": 260,
        "wires": []
    },
    {
        "id": "d60661a3b50440ba",
        "type": "ui_gauge",
        "z": "2b1709f42580c938",
        "name": "",
        "group": "f884df37c17a9c3d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nível da Água",
        "label": "cm",
        "format": "{{msg.payload.agua_cm}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 340,
        "y": 60,
        "wires": []
    },
    {
        "id": "a99c011f28ae3a41",
        "type": "ui_gauge",
        "z": "2b1709f42580c938",
        "name": "",
        "group": "f884df37c17a9c3d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{msg.payload.umidade}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "b50cba0df2bf5c2b",
        "type": "ui_gauge",
        "z": "2b1709f42580c938",
        "name": "",
        "group": "f884df37c17a9c3d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{msg.payload.temperatura}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#d03939"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 40,
        "wires": []
    }
]